In [50]:
import pandas as pd
import numpy as np

import datetime
from collections import Counter

#import matplotlib.pyplot as plt
#%matplotlib inline


        USAF   WBAN               StationName State  Latitude  Longitude  MeanTemp  MinTemp  MaxTemp  DewPoint  Percipitation  WindSpeed  MaxSustainedWind  Gust  Rain  SnowDepth  SnowIce  Year  Month  Day
2186  726228  94740  ADIRONDACK REGIONAL ARPT    NY    44.385    -74.207      27.0     23.0     28.4      23.5           0.02        7.6              11.1  18.1     0        NaN        1  2016      1    1
2187  726228  94740  ADIRONDACK REGIONAL ARPT    NY    44.385    -74.207      41.2     32.0     50.0      37.4           0.24        6.7              19.0  33.0     1        NaN        0  2016      1   10
2188  726228  94740  ADIRONDACK REGIONAL ARPT    NY    44.385    -74.207      22.7     12.9     50.0      19.4           0.04       11.5              21.0  36.9     1        NaN        1  2016      1   11
2189  726228  94740  ADIRONDACK REGIONAL ARPT    NY    44.385    -74.207      14.8      7.0     28.0      10.7           0.00        5.8              12.0  22.0     0        NaN        1  2016      1   12
2190  726228  94740  ADIRONDACK REGIONAL ARPT    NY    44.385    -74.207      13.1      5.0     23.0       7.6           0.02        9.0              14.0  25.1     0        NaN        1  2016      1   13



   Unnamed: 0  Unique Key            Created Date             Closed Date Agency                    ...                    Road Ramp Bridge Highway Segment   Latitude  Longitude                                  Location
0         284    36160675  05/11/2017 11:11:36 AM  05/22/2017 10:22:32 AM    DOF                    ...                          NaN                    NaN        NaN        NaN                                       NaN
1         691    40168467  09/01/2018 04:48:00 PM  09/04/2018 01:04:00 PM   DSNY                    ...                          NaN                    NaN  40.596407 -74.105159  (40.596406797628894, -74.10515944635875)
2         816    37065302  08/30/2017 09:57:00 AM  08/25/2017 09:57:00 AM    DOT                    ...                          NaN                    NaN        NaN        NaN                                       NaN
3         817    37065303  08/30/2017 12:25:00 PM  08/30/2017 12:25:00 PM    DOT                    ...                          NaN                    NaN  40.674209 -73.862074  (40.674208912785716, -73.86207405345438)
4         818    37065304  08/30/2017 01:49:00 AM  09/01/2017 12:00:00 PM   DSNY                    ...                          NaN                    NaN  40.660736 -73.981048   (40.66073631464613, -73.98104843659586)

[5 rows x 42 columns]

In [ ]:
small_data = pd.read_csv("rows.csv")

timestamp = small_data["Created Date"].apply(lambda x: x[0:10])
small_data["timestamp"] = timestamp
small_data = small_data.loc[:, ["timestamp", "Unique Key", "Created Date", "Agency", "Complaint Type", "Incident Zip","Borough", "Latitude", "Longitude"]]

small_data["timestamp"] = pd.to_datetime(small_data["timestamp"])

small_data.shape
small_data = small_data.dropna()

small_data.shape
small_data.to_csv("all_records_all.csv")

In [ ]:
data = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")
small_data = data[data["Created Date"].str.contains('2016|2017|2018')]
timestamp = small_data["Created Date"].apply(lambda x: x[0:10])
small_data["timestamp"] = timestamp
small_data = small_data.loc[:, ["timestamp", "Unique Key", "Created Date", "Agency", "Complaint Type", "Incident Zip","Borough", "Latitude", "Longitude"]]

small_data["timestamp"] = pd.to_datetime(small_data["timestamp"])


small_data.to_csv("/work/xc1/record_1618.csv")
#data = pd.read_csv("/work/xc1/rows.csv")
#small_data = pd.read_csv("/work/xc1/record_1618.csv")

weather = pd.read_csv("weather_NY_2010_2018Nov.csv")


w_1618 = weather[(weather["Year"] >= 2016) & (weather["Year"] <= 2018)]

In [255]:
w_1618["timestamp"]=pd.to_datetime(w_1618["Month"].astype(str) + "/" + w_1618["Day"].astype(str) + "/" + w_1618["Year"].astype(str))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [259]:
weather = pd.read_csv("weather_NY_2010_2018Nov.csv")
w_1618 = weather[(weather["Year"] >= 2016) & (weather["Year"] <= 2018)]
station_table = w_1618.loc[:, ["StationName", "Latitude", "Longitude"]].groupby("StationName").mean()
station_table.shape

(53, 2)

In [ ]:
get_distance

In [ ]:
import geopy.distance

stat

print(geopy.distance.vincenty(coords_1, coords_2).km)

In [ ]:
timestamp = small_data["Created Date"].apply(lambda x: x[0:10])

In [ ]:
small_data["timestamp"] = timestamp

In [ ]:
dailyCalls = small_data.loc[:, ["Unique Key", "timestamp"]].groupby("timestamp").count()
dailyCalls["timestamp"] = dailyCalls.index

In [ ]:
cleaned_data = small_data.loc[:, ["timestamp", "Latitude", "Longitude", "Agency"]]

In [ ]:
#dailyCalls_1618 = dailyCalls.merge(cleaned_data, how = "inner", on = "timestamp")

In [164]:
dailyCalls["months"] = dailyCalls["timestamp"].apply(lambda x: x[0:2])

'01/01/2016'

In [ ]:
dailyCalls["days"] = dailyCalls["timestamp"].apply(lambda x: x[3:5])

In [ ]:
dailyCalls["years"] = dailyCalls["timestamp"].apply(lambda x: x[6:10])

In [173]:
station_table = weather.loc[:, ["Latitude","Longitude","StationName"]].drop_duplicates().groupby("StationName").mean()

In [163]:
dailyCalls = pd.read_csv("target_1618.csv")
dailyCalls.head()

    timestamp  Unique Key
0  01/01/2016        4315
1  01/01/2017        4289
2  01/01/2018        9328
3  01/02/2016        4569
4  01/02/2017        4261

In [177]:
post_data = pd.read_csv("../us_postal_codes.csv")
post_data.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,1001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,1002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,1003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [192]:
post_data = pd.read_csv("./us_postal_codes.csv")
nyc_post = post_data[post_data["State"] == "New York"]
nyc_post = nyc_post.loc[:, ["Zip Code","Latitude","Longitude", "County"]]

In [226]:
nyc_post[nyc_post["Zip Code"] == 10304]["Longitude"]

3152   -74.0878
Name: Longitude, dtype: float64

In [213]:
nyc_post[nyc_post["Zip Code"] == 10304].iloc[:, [1,2]].values

array([[ 40.6102, -74.0878]])

In [199]:
county_zip = nyc_post.groupby("County").mean().iloc[:, 1:3]

In [229]:
county_zip["County"] = county_zip.index
county_zip.head()

              Latitude  Longitude       County
County
Albany       42.638482 -73.820171       Albany
Allegany     42.243214 -78.056011     Allegany
Bronx        40.848988 -73.878148        Bronx
Broome       42.156023 -75.878748       Broome
Cattaraugus  42.295845 -78.687891  Cattaraugus

In [242]:
nyc_post.iloc[:, [1,2]].apply(np.mean)

Latitude     42.224909
Longitude   -75.145666
dtype: float64

In [243]:
for i in range(0, small_data.shape[0]):
    print(i)
    try:
        if pd.isnull(small_data.iloc[i, 8]):
            if not pd.isnull(small_data.iloc[i, 5]):
                obj = small_data.iloc[i, 5]
                if isinstance(obj, str):
                    zipcode = int(small_data.iloc[i, 5][0:5])
                    
                elif isinstance(obj, int):
                    zipcode = int(small_data.iloc[i, 5])
                else:
                    continue     
                info = nyc_post[nyc_post["Zip Code"] == zipcode]
            
                if info.empty:
                    continue
                small_data.iloc[i, 7] = info["Latitude"].values
                small_data.iloc[i, 8] = info["Longitude"].values
                #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
            else:
                if small_data.iloc[i, 6] == "STATEN ISLAND":
                    small_data.iloc[i, 7] = 40.5795
                    small_data.iloc[i, 8] = 74.1502
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
                elif small_data.iloc[i, 6] == "BROOKLYN":
                    small_data.iloc[i, 7] = 40.6782
                    small_data.iloc[i, 8] = 73.9442
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
                if small_data.iloc[i, 6] == "QUEENS":
                    small_data.iloc[i, 7] = 40.7282
                    small_data.iloc[i, 8] = 73.7949
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
                if small_data.iloc[i, 6] == "MANHATTAN":
                    small_data.iloc[i, 7] = 40.7831
                    small_data.iloc[i, 8] = 73.9712
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
                if small_data.iloc[i, 6] == "BRONX":
                    small_data.iloc[i, 7] = 40.8448
                    small_data.iloc[i, 8] = 73.8648
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])
                if small_data.iloc[i, 6] == "Unspecified":
                    small_data.iloc[i, 7] = 40.6782
                    small_data.iloc[i, 8] = 73.9442
                    #small_data.iloc[i, 9] = (small_data.iloc[i, 7], small_data.iloc[i, 8])                
    except:
        continue

IndentationError: expected an indented block (<ipython-input-243-909e0059507b>, line 8)

In [ ]:
small_data.to_csv("all_record.csv")    

small_data.to_csv("/work/xc1/all_record.csv")

In [ ]:
import geopy.distance

stat

print(geopy.distance.vincenty(coords_1, coords_2).km)

In [265]:
weather = pd.read_csv("./weather_NY_2010_2018Nov.csv")
w_1618 = weather[(weather["Year"] >= 2016) & (weather["Year"] <= 2018)]
station_table = w_1618.loc[:, ["StationName", "Latitude", "Longitude"]].groupby("StationName").mean()
station_table.shape

station_table["index"] = range(0, station_table.shape[0])

In [ ]:
station_index = []

#station_index = pd.read_csv("station.csv")

stations_nyc = station_table.iloc[:,[0,1]].values
for i in range(0, small_data.shape[0]):
    print("Now runing: ", i)
    try:
        #lat, long = small_data.iloc[0, 7:9].values
        min_dist_index = np.square(small_data.iloc[i, 7:9].values - stations_nyc).sum(axis = 1).argmin()
        print("Now minimun: ", min_dist_index)
        station_index.append(min_dist_index)
        #station_index
    except:
        station_index.append(np.nan)
        print("Now minimun: ", "NA")
        continue
    if i % 100000 == 0:
        pd.Series(station_index).to_csv("station.csv")

In [263]:
station_table.index[2]

'BERGEN POINT'

nan

In [208]:
if not 0>1:
    print("aa")

aa

In [248]:
x = "abd"

for i in range(9):
    print(i)
    try:
        print(x[i])
    except:
        continue

0
a
1
b
2
d
3
4
5
6
7
8

In [144]:
dd = pd.read_csv("../books.csv", error_bad_lines=False)

b'Skipping line 4012: expected 10 fields, saw 11\nSkipping line 5688: expected 10 fields, saw 11\nSkipping line 7056: expected 10 fields, saw 11\nSkipping line 10601: expected 10 fields, saw 11\nSkipping line 10668: expected 10 fields, saw 11\n'

In [147]:
dd["language_code"]

0          eng
1          eng
2          eng
3          eng
4          eng
5          eng
6        en-US
7          eng
8          eng
9          eng
10         eng
11         eng
12       en-US
13         eng
14         eng
15         eng
16         eng
17         eng
18       en-US
19         eng
20         eng
21         eng
22         eng
23         eng
24         eng
25         eng
26       en-US
27         eng
28         eng
29         eng
         ...
13684      eng
13685    en-GB
13686    en-GB
13687      eng
13688      eng
13689      eng
13690    en-US
13691      eng
13692    en-US
13693      eng
13694    en-CA
13695      spa
13696      eng
13697      eng
13698      spa
13699    en-GB
13700      eng
13701      spa
13702      eng
13703      eng
13704      eng
13705      spa
13706    en-US
13707      eng
13708      eng
13709      eng
13710      eng
13711    en-US
13712      eng
13713      eng
Name: language_code, Length: 13714, dtype: object

In [152]:
dd.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [160]:
dd.loc[:, ["bookID","language_code"]].groupby("language_code").count()

               bookID
language_code
ale                 1
ara                 2
cat                 3
dan                 1
en-CA               9
en-GB             341
en-US            1699
eng             10594
enm                 3
fre               209
ger               238
gla                 1
glg                 4
grc                12
heb                 1
ita                19
jpn                64
lat                 3
msa                 1
mul                21
nl                  7
nor                 1
por                27
rus                 7
spa               419
srp                 1
swe                 6
tur                 3
wel                 1
zho                16

In [151]:
dd.iloc["language_code"].groupby("language_code").count()

KeyError: 'language_code'

In [92]:
import datetime
from collections import Counter

In [9]:
foo = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv", chunksize = 5000)

In [13]:
weather = pd.read_csv("weather_NY_2010_2018Nov.csv")

In [114]:
w_1618 = weather[(weather["Year"] >= 2016) & (weather["Year"] <= 2018)]

In [115]:
w_1618

,USAF,WBAN,StationName,State,Latitude,Longitude,MeanTemp,MinTemp,MaxTemp,DewPoint,Percipitation,WindSpeed,MaxSustainedWind,Gust,Rain,SnowDepth,SnowIce,Year,Month,Day
2186,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.0,23.0,28.4,23.5,0.02,7.6,11.1,18.1,0,NaN,1,2016,1,1
2187,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,41.2,32.0,50.0,37.4,0.24,6.7,19.0,33.0,1,NaN,0,2016,1,10
2188,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,22.7,12.9,50.0,19.4,0.04,11.5,21.0,36.9,1,NaN,1,2016,1,11
2189,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,14.8,7.0,28.0,10.7,0.00,5.8,12.0,22.0,0,NaN,1,2016,1,12
2190,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,13.1,5.0,23.0,7.6,0.02,9.0,14.0,25.1,0,NaN,1,2016,1,13
2191,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,10.4,1.0,19.9,7.1,0.00,4.4,12.0,17.1,0,NaN,1,2016,1,14
2192,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,16.3,3.9,25.0,13.2,0.00,3.1,8.0,NaN,0,NaN,0,2016,1,15
2193,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,23.9,8.1,34.0,22.1,0.00,3.9,17.1,25.1,0,NaN,1,2016,1,16
2194,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,20.1,3.9,34.0,14.8,0.02,5.3,15.0,25.1,0,NaN,1,2016,1,17
2195,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,13.5,3.9,25.0,7.6,0.08,6.6,13.0,21.0,0,NaN,1,2016,1,18
2196,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,1.1,-2.9,19.9,-4.7,0.04,8.3,13.0,22.0,0,NaN,1,2016,1,19
2197,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,23.8,21.9,28.0,19.4,0.02,7.7,12.0,20.0,0,NaN,1,2016,1,2
2198,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,11.5,-2.9,19.9,5.3,0.01,5.9,8.9,19.0,0,NaN,1,2016,1,20
2199,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,2.8,-9.0,19.9,-2.8,0.00,2.0,7.0,NaN,0,NaN,1,2016,1,21
2200,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,7.7,-9.0,21.0,1.3,0.00,0.8,7.0,NaN,0,NaN,0,2016,1,22
2201,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,1.4,-15.0,21.0,-4.0,0.00,3.9,12.0,17.1,0,NaN,0,2016,1,23
2202,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,0.6,-15.0,23.0,-6.7,0.00,2.3,7.0,NaN,0,NaN,1,2016,1,24
2203,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,20.3,12.9,28.0,15.9,0.00,3.5,11.1,NaN,0,NaN,1,2016,1,25
2204,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.4,10.0,39.0,22.6,0.01,8.3,18.1,28.0,0,NaN,1,2016,1,26
2205,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.4,10.0,39.0,23.2,0.10,8.2,17.1,27.0,0,NaN,1,2016,1,27
2206,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,19.3,0.0,32.0,12.3,0.01,7.7,19.0,24.1,0,NaN,1,2016,1,28
2207,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,28.9,21.0,32.0,21.9,0.00,5.0,9.9,14.0,0,NaN,1,2016,1,29
2208,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,26.8,19.0,30.0,24.0,0.01,8.7,15.0,21.0,1,NaN,1,2016,1,3
2209,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,19.7,15.1,32.0,14.6,0.05,6.7,11.1,15.9,0,NaN,1,2016,1,30
2210,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,36.9,15.1,48.0,24.7,0.00,7.0,15.9,22.9,0,NaN,1,2016,1,31
2211,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,4.2,-9.9,30.0,-1.1,0.06,4.7,8.9,NaN,0,NaN,1,2016,1,4
2212,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,-13.7,-22.0,-4.0,-18.1,0.00,0.3,4.1,NaN,0,NaN,0,2016,1,5
2213,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,9.0,-11.0,32.0,-2.4,0.00,4.2,9.9,NaN,0,NaN,1,2016,1,6
2214,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,12.5,-0.9,35.1,6.3,0.00,0.8,5.1,NaN,0,NaN,0,2016,1,7
2215,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,9.8,-2.0,33.1,5.1,0.00,0.8,7.0,NaN,0,NaN,0,2016,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160745,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,72.3,68.0,78.8,66.8,0.01,5.2,12.0,19.0,1,NaN,0,2018,8,9
160746,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,71.9,52.9,82.6,68.2,0.07,8.8,13.0,18.1,0,NaN,0,2018,9,1
160747,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,53.1,40.6,62.4,49.3,0.37,8.9,15.9,25.1,1,NaN,0,2018,9,10
160748,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,61.3,48.4,68.0,61.3,0.11,6.3,15.9,25.1,1,NaN,0,2018,9,11
160749,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,65.6,57.9,72.7,63.9,0.00,1.3,5.1,NaN,0,NaN,0,2018,9,12
160750,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,68.1,55.8,82.4,61.8,0.00,4.1,7.0,NaN,0,NaN,0,2018,9,13
160751,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,70.7,55.8,82.8,67.6,0.00,5.3,9.9,NaN,0,NaN,0,2018,9,14
160752,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,69.2,60.8,82.8,68.7,0.00,5.5,8.0,NaN,0,NaN,0,2018,9,15
160753,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,73.4,62.2,86.0,68.2,0.00,3.3,8.0,NaN,0,NaN,0,2018,9,16
160754,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,73.8,63.3,79.3,69.8,0.00,5.6,8.0,NaN,0,NaN,0,2018,9,18
160755,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,60.7,55.0,79.3,56.8,0.00,5.5,9.9,NaN,0,NaN,0,2018,9,19
160756,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,73.9,68.0,84.2,72.2,0.03,8.2,13.0,21.0,1,NaN,0,2018,9,2
160757,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,58.8,48.9,66.0,56.4,NaN,5.2,9.9,NaN,1,NaN,0,2018,9,20
160758,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,69.2,59.0,79.9,66.5,0.62,16.4,26.0,35.9,1,NaN,0,2018,9,21
160759,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,58.4,47.1,80.2,49.1,0.05,7.9,22.0,33.0,1,NaN,0,2018,9,22
160760,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,51.2,40.6,64.8,44.9,0.00,4.1,8.0,NaN,0,NaN,0,2018,9,23
160761,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,52.6,40.1,70.0,45.4,0.00,8.6,15.0,21.0,0,NaN,0,2018,9,24
160762,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,55.3,39.9,70.2,53.3,0.30,20.2,28.0,39.0,1,NaN,0,2018,9,25
160763,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,66.5,50.4,72.1,65.5,0.48,11.2,20.0,25.1,1,NaN,0,2018,9,26
160764,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,54.5,44.1,72.1,49.1,0.26,2.9,6.0,NaN,0,NaN,0,2018,9,27
160765,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,59.8,44.1,70.2,55.3,0.00,7.6,14.0,19.0,0,NaN,0,2018,9,28
160766,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,55.2,48.9,70.2,50.3,0.03,5.9,13.0,20.0,1,NaN,0,2018,9,29
160767,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,79.3,73.4,87.8,73.5,0.00,8.6,14.0,21.0,1,NaN,0,2018,9,3
160768,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,50.1,42.3,62.2,47.0,0.02,2.7,6.0,NaN,0,NaN,0,2018,9,30
160769,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,73.7,63.9,82.6,67.6,NaN,2.6,8.9,NaN,1,NaN,0,2018,9,4
160770,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,78.4,68.5,90.9,71.6,0.00,7.2,13.0,19.0,0,NaN,0,2018,9,5
160771,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,75.3,66.2,82.0,71.4,0.04,6.2,9.9,17.1,1,NaN,0,2018,9,6
160772,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,63.0,51.4,73.2,54.0,0.00,3.5,8.0,NaN,0,NaN,0,2018,9,7
160773,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,56.4,49.5,73.2,45.7,0.00,6.4,14.0,20.0,0,NaN,0,2018,9,8
160774,743700,14715,WHEELER-SACK AAF AIRPORT,NY,44.050,-75.733,51.3,40.6,62.6,43.4,0.00,5.5,8.9,NaN,0,NaN,0,2018,9,9

In [ ]:
weather.filter()

In [10]:
for f in foo:
    sample_f = f
    break

In [128]:
pd.to_datetime(sample_f["Created Date"][0]).year

2012

In [140]:
sample_f["Created Date"][0:10].str.contains('09|AM|57')

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7     True
8     True
9     True
Name: Created Date, dtype: bool

In [136]:
sample_f["Created Date"][0:10]

0    07/19/2012 09:32:16 PM
1    07/19/2012 09:36:10 PM
2    07/20/2012 12:50:00 AM
3    07/19/2012 06:52:31 PM
4    07/19/2012 06:44:35 PM
5    07/19/2012 12:02:02 PM
6    07/19/2012 01:53:34 PM
7    07/19/2012 04:51:57 PM
8    07/19/2012 09:43:07 AM
9    07/19/2012 12:00:00 AM
Name: Created Date, dtype: object

In [12]:
sample_f.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,23646333,07/19/2012 09:32:16 PM,07/19/2012 11:52:00 PM,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11373,74-24 46 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.740097,-73.889627,"(40.74009655485909, -73.88962664659326)"
1,23646334,07/19/2012 09:36:10 PM,07/21/2012 06:42:53 AM,DPR,Department of Parks and Recreation,Overgrown Tree/Branches,Hitting Power/Phone Lines,Street,11373,74-24 46 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.740097,-73.889627,"(40.74009655485909, -73.88962664659326)"
2,23646335,07/20/2012 12:50:00 AM,08/14/2012 10:48:53 AM,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint,NaN,11238,NaN,...,NaN,NaN,Other,NaN,NaN,NaN,NaN,40.675756,-73.959759,"(40.675755748482324, -73.95975941502209)"
3,23646336,07/19/2012 06:52:31 PM,08/27/2012 04:01:09 PM,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint,Street,10016,NaN,...,NaN,NaN,Other,NaN,NaN,NaN,NaN,40.742588,-73.980412,"(40.74258786227404, -73.98041166510122)"
4,23646337,07/19/2012 06:44:35 PM,07/19/2012 08:23:57 PM,NYPD,New York City Police Department,Illegal Parking,Double Parked Blocking Traffic,Street/Sidewalk,10011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.739880,-73.998712,"(40.73988045152213, -73.99871172598776)"

In [14]:
weather.head()

,USAF,WBAN,StationName,State,Latitude,Longitude,MeanTemp,MinTemp,MaxTemp,DewPoint,Percipitation,WindSpeed,MaxSustainedWind,Gust,Rain,SnowDepth,SnowIce,Year,Month,Day
0,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.6,24.8,30.9,25.0,0.07,1.3,6.0,NaN,0,NaN,1,2010,1,1
1,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,-3.2,-20.9,17.1,-9.6,0.00,3.3,9.9,NaN,0,NaN,1,2010,1,10
2,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,20.9,17.1,24.1,15.1,0.00,6.8,12.0,19.0,0,NaN,1,2010,1,11
3,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,13.8,5.0,19.9,8.5,NaN,4.4,8.0,15.9,0,NaN,1,2010,1,12
4,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,6.3,-8.0,19.0,1.9,0.00,3.3,5.1,NaN,0,NaN,1,2010,1,13

In [32]:
weather.head()

,USAF,WBAN,StationName,State,Latitude,Longitude,MeanTemp,MinTemp,MaxTemp,DewPoint,Percipitation,WindSpeed,MaxSustainedWind,Gust,Rain,SnowDepth,SnowIce,Year,Month,Day
0,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.6,24.8,30.9,25.0,0.07,1.3,6.0,NaN,0,NaN,1,2010,1,1
1,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,-3.2,-20.9,17.1,-9.6,0.00,3.3,9.9,NaN,0,NaN,1,2010,1,10
2,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,20.9,17.1,24.1,15.1,0.00,6.8,12.0,19.0,0,NaN,1,2010,1,11
3,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,13.8,5.0,19.9,8.5,NaN,4.4,8.0,15.9,0,NaN,1,2010,1,12
4,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,6.3,-8.0,19.0,1.9,0.00,3.3,5.1,NaN,0,NaN,1,2010,1,13

In [45]:
new = weather.sort_values(by = ["StationName","Year","Month", "Day"])

In [93]:
diff = (new["Day"] - new["Day"].shift(1))

In [99]:
new.shape

(160775, 20)

In [98]:
Counter(diff)

Counter({nan: 1,
         1.0: 151835,
         4.0: 97,
         -30.0: 2992,
         -27.0: 356,
         -29.0: 1729,
         -28.0: 118,
         3.0: 198,
         2.0: 514,
         -11.0: 33,
         12.0: 1,
         20.0: 1,
         5.0: 35,
         6.0: 17,
         -22.0: 4,
         7.0: 18,
         -5.0: 3,
         11.0: 5,
         -20.0: 2,
         9.0: 6,
         -24.0: 15,
         8.0: 11,
         -12.0: 2,
         14.0: 2,
         22.0: 1,
         13.0: 2,
         -10.0: 5,
         -6.0: 2,
         -2.0: 2,
         -13.0: 2,
         0.0: 2709,
         -14.0: 3,
         -18.0: 2,
         -23.0: 7,
         -7.0: 2,
         17.0: 2,
         -17.0: 3,
         -25.0: 6,
         -26.0: 12,
         -16.0: 4,
         24.0: 2,
         -21.0: 2,
         26.0: 1,
         -15.0: 1,
         10.0: 3,
         -9.0: 1,
         -1.0: 1,
         -3.0: 1,
         15.0: 1,
         -8.0: 1,
         16.0: 1,
         -4.0: 1})

In [95]:
weather[weather["Year"] >=2017

0         2010
1         2010
2         2010
3         2010
4         2010
5         2010
6         2010
7         2010
8         2010
9         2010
10        2010
11        2010
12        2010
13        2010
14        2010
15        2010
16        2010
17        2010
18        2010
19        2010
20        2010
21        2010
22        2010
23        2010
24        2010
25        2010
26        2010
27        2010
28        2010
29        2010
          ...
160745    2018
160746    2018
160747    2018
160748    2018
160749    2018
160750    2018
160751    2018
160752    2018
160753    2018
160754    2018
160755    2018
160756    2018
160757    2018
160758    2018
160759    2018
160760    2018
160761    2018
160762    2018
160763    2018
160764    2018
160765    2018
160766    2018
160767    2018
160768    2018
160769    2018
160770    2018
160771    2018
160772    2018
160773    2018
160774    2018
Name: Year, Length: 160775, dtype: int64