In [20]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

C:\Users\xiangyangcao\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8,17,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,35404660,02/02/2017 11:56:03 PM,02/03/2017 01:51:24 AM,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10451,328 EAST 145 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.814810,-73.921825,"(40.8148099628792, -73.92182534717347)"
1,35404661,02/02/2017 03:18:24 PM,03/17/2017 12:00:00 AM,DOB,Department of Buildings,Building/Use,Illegal Conversion Of Residential Building/Space,NaN,11421,80-35 89 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688758,-73.860937,"(40.68875760242296, -73.86093696394687)"
2,35404662,02/02/2017 09:14:31 AM,02/06/2017 12:00:00 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,11224,2970 WEST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573588,-73.992855,"(40.57358775088775, -73.99285474116026)"
3,35404664,02/02/2017 10:07:13 PM,02/02/2017 10:38:43 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10029,55 EAST 110 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.796015,-73.947288,"(40.79601481468809, -73.94728791329261)"
4,35404665,02/02/2017 07:56:41 PM,02/02/2017 11:09:23 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10037,2059 MADISON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.809081,-73.938196,"(40.80908068595664, -73.93819608404088)"

In [4]:
data.shape

(21242043, 41)

In [9]:
small_data = data[0:5000]

In [12]:
small_data.describe()

,Unique Key,BBL,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude
count,5.000000e+03,3.583000e+03,4.453000e+03,4453.000000,4453.000000,4453.000000
mean,3.540802e+07,2.859739e+09,1.003128e+06,200078.990344,40.715792,-73.931851
std,1.977364e+03,1.199981e+09,2.470540e+04,30466.750983,0.083623,0.089084
min,3.540466e+07,0.000000e+00,9.141620e+05,121250.000000,40.499226,-74.252032
25%,3.540629e+07,2.031170e+09,9.892590e+05,176773.000000,40.651791,-73.981958
50%,3.540801e+07,3.040480e+09,1.001353e+06,198582.000000,40.711738,-73.938316
75%,3.540974e+07,4.018840e+09,1.018287e+06,219821.000000,40.770027,-73.877012
max,3.541268e+07,5.080460e+09,1.066773e+06,269998.000000,40.907711,-73.702184

In [45]:
import datetime
print(datetime.datetime.now())

2019-08-02 15:06:37.835510

In [49]:
pd.to_datetime(small_data["Created Date"][0]).year

2017

In [56]:
small_data["Created Date"][0:10]

0    02/02/2017 11:56:03 PM
1    02/02/2017 03:18:24 PM
2    02/02/2017 09:14:31 AM
3    02/02/2017 10:07:13 PM
4    02/02/2017 07:56:41 PM
5    02/02/2017 01:14:19 PM
6    02/03/2017 01:15:46 AM
7    02/03/2017 12:34:10 AM
8    02/03/2017 12:59:31 AM
9    02/02/2017 10:27:37 PM
Name: Created Date, dtype: object

In [ ]:
dd = data["Created Date"].apply(lambda x: pd.to_datetime(x, format="%m/%d/%Y %I:%M:%S %p"))

In [ ]:
dd[0:10]

In [51]:
small_data["Created Date"].apply(lambda x: x.date())

AttributeError: 'str' object has no attribute 'date'

In [31]:
import geopy.distance

coords_1 = np.array( [52.2296756, 21.0122287] )
coords_2 = np.array( [52.406374, 16.9251681] )

print(geopy.distance.vincenty(coords_1, coords_2).km)
print(np.square(coords_1 - coords_2).sum())

coords_1 = np.array( [51.2296756, 21.0122287] )
coords_2 = np.array( [51.406374, 16.9251681] )

print(geopy.distance.vincenty(coords_1, coords_2).km)
print(np.square(coords_1 - coords_2).sum())

279.35290160386563
16.735286672634928
285.57637083323004
16.735286672634928

C:\Users\xiangyangcao\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.

C:\Users\xiangyangcao\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  if sys.path[0] == '':

In [29]:
np.square(coords_1 - coords_2).sum()

16.735286672634928

In [ ]:
data.describe()